.header{
    text-align: center;
}

h1{
    font: Officina Sans Bold;
}

.main{
    border: 1px solid;
    border-color: white
    padding 5px 5px;
    text-align: center;
    width: 400px;
    margin: auto;
}

input{
    width: 70%;
    padding: 5px;
    margin: 10px;
    border
}

.continue{
    margin: 10px; 
    text-align: center:
    padding: 10px;
}

.help{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.copy{
    text-align: center;
    font-size: 20px;
}

.links{
    text-align: center; 
    margin-right: 10px;
    margin: 0px:
    display: inline;
    list-style-type: none;
    padding: 20px;
    margin-right: 10px;
    text-decoration: none;
}

div{ 
    font-size: 30px;
    text-align: center;
}

.createAcc{
    background-color: rgb(224, 221, 221);
    color: rgba(180, 177, 177, 0.91);
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

